body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffff;
 width:100%;}

.container {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
   
    text-align: center;
}

h2 {
    margin-bottom: 2px;
    color: #1877f2; text-align:center;
}

form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #1877f2;
    color: #fff;
    border: none;
    cursor: pointer;
}

#error-message {
    color: #ff0000;
    margin-top: 10px;
}

a{
color:blue;
text-decoration:none;
margin-right:30px;

}
@media (max-width:426px){

p{
	margin-right:30px;
	text-align:center;

}


h2{
	margin-right:30px;
	text-align:center;

}

form{
	margin-right:30px;
}

}